 *{
 	margin: 0;
 	padding: 0;
 	font-size: 100%;
 	border: none;
 	outline: none;
 	font-weight: 300;
 	box-sizing: border-box;
 	font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #fff;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
img {
    max-width: 100%;
    margin-right: -47px;
}

/*CABEÇALHO*/
.cabecalho {
    width: 100%;
    float: left;
    padding: 1% 4%;
    background-color: #f5f5f5;
}

.logo {
    width: 56px;
    height: 56px;
    float: left;
    background: url(../img/logo-mobile.png) center center/100px no-repeat;
    font-size: 0;
}

.btn-menu {
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    color: #fff;
    border-radius: 56px;
    cursor: pointer;
    background: linear-gradient(to right, #21a3ef, #94ceef);
}
/*===== FIM DO CABEÇALHO =====*/

/*===== MENU =====*/
.menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
    cursor: pointer;
}

.btn-close {
    font-size: 1.5em;
    color: #fff;
    float: right;
    cursor: pointer;
    margin: 2% 3% 0 0;
}
/* menu ul é onde começa o css dos links do menu */
.menu ul {
    width: 100%;
    float: left;
    text-align: center;
}

.menu li {
    padding: 1.5%;
}

    .menu li a {
        font-size: 2em;
        color: #fff;
        padding: 1.5% 3%;
        font-weight: 700;
    }

        .menu li a:hover {
            color: #21a3ef;
        } 

.btn-menu{
	width: 56px;
	height: 56px;
	float: right;
	text-align: center;
	color: #fff;
	border-radius: 56px;
	cursor: pointer;
	background: linear-gradient(to right, #21a3ef, #94ceef);	
}

.btn-close{
	font-size: 1.5em;
	color: #fff;
	float: right;
	cursor: pointer;
	margin: 2% 3% 0 0;
}
/*===== FIM DO MENU =====*/

/*===== CADASTRO =====*/

.fundo{
	width: 100%;
	float: left;
	text-align: center;
	padding: 3% 4%;
}
.ctd{
	width: 100%;
}
.ctd .input{
	width: 100%;
	color: #000;
	padding: 5%;
	border-radius: 5px;
    margin-bottom: 3%;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    box-sizing: border-box;
}
.cadastrar {
    -moz-box-shadow: inset 0px -3px 7px 0px #2eb2ff;
    -webkit-box-shadow: inset 0px -3px 7px 0px #2eb2ff;
    box-shadow: inset 0px -3px 7px 0px #2eb2ff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2eb2ff), color-stop(1, #0688fa));
    background: -moz-linear-gradient(top, #2eb2ff 5%, #0688fa 100%);
    background: -webkit-linear-gradient(top, #2eb2ff 5%, #0688fa 100%);
    background: -o-linear-gradient(top, #2eb2ff 5%, #0688fa 100%);
    background: -ms-linear-gradient(top, #2eb2ff 5%, #0688fa 100%);
    background: linear-gradient(to bottom, #2eb2ff 5%, #0688fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2eb2ff', endColorstr='#0688fa',GradientType=0);
    background-color: #2eb2ff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
    margin-top: 2%;
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
}
.cadastrar:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2eb2ff));
	background:-moz-linear-gradient(top, #0688fa 5%, #2eb2ff 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2eb2ff 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2eb2ff 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2eb2ff 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2eb2ff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2eb2ff',GradientType=0);
	background-color:#0688fa;
}
.cadastrar:active {
	position:relative;
	top:1px;
}
.cadastrar i{
	float: right;
}

/*===== FIM DO LOGIN =====*/
/*===== RODAPÉ =====*/
.rodape { 
  width: 100%; 
  float: left; 
  padding: 3% 4%; 
  text-align: center; 
  background: linear-gradient(to right, #0d95e5, #94ceef);
}
.social-icons a {
  font-size: 1.5em; 
  color: rgba(0,0,0,0.7); 
  margin-right: 3%;
}
.social-icons a:last-child {
  margin-right: 0;
}
.social-icons a:hover {
  color: rgb(2,2,2);
}
.copyright {
  margin-top: 2%; 
  color: rgba(0,0,0,0.7);
}

/*===== FIM DO RODAPÉ =====*/

/*===== RESPONSIVE =====*/

@media screen and (min-width: 500px ){
    .logo {
        width: 214px;
        background: url(../img/mainline_transparente.png) center center/150px no-repeat;
    }

.ctd .input{
	width: 100%;
	padding: 4%;
}

}

@media screen and (min-width: 768px ){
/*.btn-menu{
	height: 80px;
	width: 80px;
}*/
    .cabecalho {
        width: 100%;
        float: left;
        padding: 1% 4%;
        background-color: #f5f5f5;
    }

    /*.logo{
        width: 200px;
	    height: 200px;
        width: 214px;
        background: url(../img/mainline_transparente.png) center center/200px no-repeat;
        margin-top: -70px;
    }*/

.ctd .input{
	width: 80%;
	padding: 3%;
}
.ctd h2{
	font-size: 20px;
}
.cadastrar{
	width: 80%;
}

}

@media screen and (min-width: 960px ){

.ctd .input{
	width: 60%;
	padding: 2%;
}
.cadastrar{
	width: 300px;
	padding: 1.5%;
}

}

@media screen and (min-width: 1024px ){

.btn-menu{
	display: none;
}
.btn-close{
	display: none;
}

    .menu {
        width: auto;
        height: 56px;
        line-height: 56px;
        float: right;
        display: block !important;
        position: static;
        background-color: #f5f5f5;
    }
.menu li{
	padding: 0;
	float: left;
	margin-left: 50px;
	font-size: 20px;
}
.menu li a{
	color: #000;
	font-size: 1em;
	padding: 15px;
}
}

@media screen and (min-width: 1280px ){
    .btn-menu {
        display: none;
    }

    .btn-close {
        display: none;
    }

    .menu {
        width: auto;
        height: 56px;
        line-height: 56px;
        float: right;
        background-color: #f5f5f5;
        display: block !important;
        position: static;
    }

        .menu li {
            padding: 0;
            float: left;
        }

            .menu li a {
                color: #130400;
                font-size: 1em;
                padding: 15px;
            }

                .menu li a:hover {
                    border: none;
                    color: #21a3ef
                }

.ctd .input{
	width: 40%;
	padding: 1.3%;
}

}

/*===== FIM RESPONSIVE ===== */